/*********************************************
 RESPONSIVE 
 *********************************************/

 /* Mobile Version - xs */
 @media screen and (max-width: 576px) {
     
    /* UTILITY */

    /* h2, h3 */
    h2,
    h3 {
        padding-top: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 14px;
    }

    /* JUMBOTRON */

    .jumbotron span {
        font-size: 12px;
    }

    /* PORTFOLIO */
    .portfolio {
        padding: auto;
        padding-bottom: 10px;
    }

    .portfolio h2 {
        margin-top: 0;
        padding-top: 0;
    }

    .portfolio img {
        margin-bottom: 20px;
    }

    /* ABOUT */
    .about-paragraph {
        padding-bottom: 15px;
    }

    .about .download {
        padding-top: 10px;
    }

    /* CONTACT */
    .registration-form input {
        width: 80%
    }

    /* PREFOOTER */
    .prefooter {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .prefooter span {
        font-size: 12px;
    }

    /* Icons */

    .prefooter i {
        font-size: 14px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 12px;
        margin: 3px;
    }

    .prefooter .fa-google-plus-g {
        padding: 12px 10px;
    }

    .prefooter .fa-facebook-f {
        padding: 12px 15px;
    }

    /* FOOTER */
    .footer span {
        font-size: 10px;
    }

}

/* Tablet Version - sm */
@media screen and (min-width: 577px) and (max-width: 991px) {

    h2,
    h3 {
        padding-top: 20px;
        margin-top: 30px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    /* JUMBOTRON */

    .jumbotron span {
        font-size: 16px;
    }

    /* PORTFOLIO */
    .portfolio {
        padding: auto;
        padding-bottom: 10px;
    }

    .portfolio h2 {
        margin-top: 20px;
        padding-top: 0;
    }

    .portfolio img {
        margin-bottom: 20px;
    }

    /* ABOUT */
    .about-paragraph {
        padding-bottom: 15px;
    }

    .about .download {
        padding-top: 10px;
    }

    /* CONTACT */
    .registration-form input {
        width: 80%
    }

    /* PREFOOTER */
    .prefooter {
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .prefooter span {
        font-size: 16px;
    }

    .prefooter .row {
        margin:auto;
        padding-right: 80px;
    }

    /* Icons */

    .prefooter i {
        font-size: 14px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 10px;
        margin: 3px;
    }

    .prefooter .fa-google-plus-g {
        padding: 10px 8px;
    }

    .prefooter .fa-facebook-f {
        padding: 10px 13px;
    }

    /* FOOTER */
    .footer span {
        font-size: 13px;
    }

}

/* DESKTOP 992 > */

@media and screen and (min-width: 992px) {

    /* PREFOOTER */
    .prefooter .row {
        margin: auto;
        padding-right: 60px;
    }
}
     