/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITY */

/* Backgrounds */
.bg_blue {
    background: #2c3e50;    
}

.bg_azure {
    background: #1abc9c;
}

.bg_aquamarine {
    background: #1abc9c;
}

.bg_blue2 {
    background: #3a546d
}

/* h2 */
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding: 0;
}

/* Star */
.fa-star {
    text-align: center;  
    display: inline-block;
    padding: 1em;
    font-size: 20px;
    vertical-align: middle;    
}

hr {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    border: 2px solid #fff;
}

.star {
   text-align: center;
}

/* HEADER */
.main-header {
    margin-bottom: 79px;
}

.main-header .my-navbar {
    border: 0;
}

.main-header .my-brand {
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
}

.main-header .my-nav > li > a {
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
    transition: background-color .2s linear;
}

.main-header .my-nav > li > a:hover,
.main-header .my-nav > li > a:active {
    background-color: rgba(0,0,0, .2)
}

/* MAIN */

/* JUMBOTRON */
.jumbotron {
    color: #fff;
}
.jumbotron img {
    max-width: 260px;
    margin: auto;
}

.jumbotron span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

/* PORTFOLIO */
.portfolio {
    color: #2c3e50;
    padding-bottom: 40px;
}

.portfolio hr {
    border: 2px solid #2c3e50;
}

.portfolio img {
    margin-bottom: 20px;
}

/* ABOUT */
.about {
    color: #fff;
}

.about-paragraph:first-child {
    font-size: 20px;
}

.about .download{
    text-align: center;   
    padding: 30px; 
}

.my-btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #fff;
    padding: 10px 15px;
    font-size: 16px;
}

/* CONTACTS */
.contacts {
    color: #2c3e50;
    padding-bottom: 40px;
}

.contacts hr {
    border: 2px solid #2c3e50;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type=tel] {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #2c3e50;
    border-radius: 0;
    box-shadow: none;
    padding: 25px 0;
}

.registration-form #message {
    padding-bottom: 100px;
}

.registration-form ::placeholder {
    color: #2c3e50;
}






