/* GENERAL */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILITY */

/* Backgrounds */
.bg_blue {
    background: #2c3e50;    
}

.bg_azure {
    background: #1abc9c;
}

.bg_aquamarine {
    background: #1abc9c;
}

.bg_blue2 {
    background: #3a546d
}

/* h2, h3 */
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    padding: 0;
}

/* Star */
.fa-star {
    text-align: center;  
    display: inline-block;
    padding: 1em;
    font-size: 20px;
    vertical-align: middle;    
}

hr {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: center;
    border: 2px solid #fff;
}

.star {
   text-align: center;
}

/* HEADER */
.main-header {
    margin-bottom: 79px;
}

.main-header .my-navbar {
    border: 0;
}

.main-header .my-brand {
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
}

.main-header .my-nav > li > a {
    line-height: 80px;
    padding: 0 15px;
    color: #fff;
    transition: background-color .2s linear;
}

.main-header .my-nav > li > a:hover,
.main-header .my-nav > li > a:active {
    color: #1abc9c
}

/* MAIN */

/* JUMBOTRON */
.jumbotron {
    color: #fff;
}
.jumbotron img {
    max-width: 260px;
    margin: auto;
}

.jumbotron span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

/* PORTFOLIO */
.portfolio {
    color: #2c3e50;
    padding-bottom: 40px;
}

.portfolio hr {
    border: 2px solid #2c3e50;
}

.portfolio img {
    margin-bottom: 30px;
}

/* Animation Img */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.container-img:hover .overlay {
    opacity: 1;
    transition: .3s linear;
}
  
 
.icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}

/* ABOUT */
.about {
    color: #fff;
}

.about-paragraph:first-child {
    font-size: 20px;
}

.about .download{
    text-align: center;   
    padding: 30px; 
}

.my-btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #fff;
    padding: 10px 15px;
    font-size: 16px;
}

.my-btn-primary:hover {   
    color: #2c3e50;
    background-color: #fff;
    border-color: #2c3e50;
    transition: .2s linear;    
}

/* CONTACTS */
.contacts {
    color: #2c3e50;
    padding-bottom: 40px;
}

.contacts hr {
    border: 2px solid #2c3e50;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type=tel] {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #cccccc; 
    border-radius: 0;
    box-shadow: none;
    padding: 25px 0;
}

.registration-form #message {
    padding-bottom: 100px;
}

.registration-form ::placeholder {
    color: #2c3e50;
}

/* Focus */
.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type=tel]:focus {
    border-color: #2c3e50;
}

/* Hover */
.registration-form input[type="text"]:hover,
.registration-form input[type="email"]:hover,
.registration-form input[type=tel]:hover {
    border-color: #2c3e50;
}


/* PREFOOTER */
.prefooter {
    text-align: center;
    color: #fff;
    padding: 50px;
}

.prefooter i {
    font-size: 16px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 5px;
}

/* Icons */

.prefooter .fa-facebook-f {
    padding: 15px 19px;
}

.prefooter .fa-google-plus-g {
    padding: 15px 13px;
}

.prefooter span {
    font-size: 20px;
}

.prefooter .green {
    color: #1abc9c;
}

.prefooter i:hover {   
    color: #2c3e50;
    background-color: #fff;
    border-color: #2c3e50;  
    transition: .2s linear;  
}


/* FOOTER */
.footer {
    padding: 30px;
    color: #fff;
    text-align: center;
}
  







